* {
    margin: 0 auto;
   text-align: center;
   box-sizing: border-box;
}

#container {
    max-width: 500px; padding: 20px;
    background-color: palegreen;
}

#checkbox {
    margin: 10px 15px 0px 0px;
}
